<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!customers"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table>
  <tbody>
    <tr>
      <td> <input type="text" [(ngModel)]="name" /> </td>
      <td> <input type="text" [(ngModel)]="address" /> </td>
      <td> <input type="text" [(ngModel)]="city" /> </td>
      <td> <input type="text" [(ngModel)]="postalCode" /> </td>
      <td> <input type="text" [(ngModel)]="country" /> </td>
      <td> <input type="text" [(ngModel)]="phone" /> </td>
      <td> <input type="text" [(ngModel)]="email" /> </td>
      <td>
        <button *ngIf="!id" (click)="createCustomer()">create</button>
        <button *ngIf="id" (click)="updateCustomer(id)">update</button>
      </td>
    </tr>
  </tbody>
</table>

<table *ngIf="customers">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>PostalCode</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.name }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.city }}</td>
        <td>{{ customer.postalCode }}</td>
        <td>{{ customer.country }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>
          <button (click)="editCustomer(customer.id)">edit</button>
          <button (click)="deleteCustomer(customer.id)">delete</button>
        </td>
      </tr>
    </tbody>
</table>
